extends layout

block extra
  //- TODO: load from object under development variable
  script(src='/javascripts/node_modules/d3.min.js')
  script(src='/javascripts/node_modules/jquery.min.js')

  script(src='/javascripts/tree.js')
  script(src='/javascripts/binarySearch.js')
  link(rel='stylesheet', href='/stylesheets/tree.css')

block content
  h1= title
  p Welcome to #{title}
  div(id='tree')
  div(id='center')
      input(id='new')
      button(id='en' value='5') Enter number!
  script
    include chart.js
